<div class="row justify-content-center">

  <div *ngIf="pendingTransactions.length == 0" class="alert alert-info" role="alert">
      No pending transactions. Click add transactiosn to add.
  </div>
    
  <div *ngIf="pendingTransactions.length>0">
    <div class="row">
        <table class="table">
            <thead>
              <tr>
                <th scope="col">#</th>
                <th scope="col">Sender</th>
                <th scope="col">Reciever</th>
                <th scope="col">Amount</th>
              </tr>
            </thead>
            <tbody>
              <tr *ngFor="let transaction of pendingTransactions; let i = index">
                <th scope="row">{{i}}</th>
                <td>{{transaction.sender}}</td>
                <td>{{transaction.reciever}}</td>
                <td>{{transaction.amount}}</td>
              </tr>
            </tbody>
          </table>
    </div>
  </div>

</div>

