.blockchain-container {
    padding: 2rem 1.5rem;
    padding-bottom: 0;
    position: absolute;
    margin-top: 2.5rem;
}

.chain-button-panel {
    flex-direction: column;
}

.app-block {
    width: 20rem;
}
