<form [formGroup]="newTransactionForm">
  <div class="form-group">
    <label for="fromAddress">From</label>
    <input type="input" class="form-control" id="fromAddress" 
           placeholder="Enter From Address"
           formControlName="from">
  </div>
  <div class="mb-2 errorMsg" *ngIf="newTransactionForm.controls['from'].errors?.pattern">Enter valid character</div>

  <div class="form-group">
    <label for="toAddress">To</label>
    <input type="input" class="form-control" id="toAddress" 
           placeholder="Enter To Address"
           formControlName="to">
  </div>
  <div class="mb-2 errorMsg" *ngIf="newTransactionForm.controls['to'].errors?.pattern">Enter valid character</div>

  <div class="form-group">
    <label for="amount">Amount</label>
    <input type="input" class="form-control" id="amount" 
           placeholder="Enter Amount to send"
           formControlName="amount">
  </div>
  <div class="mb-2 errorMsg" *ngIf="newTransactionForm.controls['amount'].errors?.min">min should be 0.001</div>
  <div class="mb-2 errorMsg" *ngIf="newTransactionForm.controls['amount'].errors?.pattern">Enter valid character</div>
  <button [disabled]="!newTransactionForm.valid" type="submit" (click)="addTransaction()" class="btn btn-primary w-100">Add transaction</button>
</form>

<div [@openClose]="showSuccessMsg ? 'open' : 'closed'" class="row mt-4">
  <app-alert-message [typeOfAlert]="content.alertType.success"
                     [alertMessage]="content.alertMessages.pendingTransaction">
  </app-alert-message>
</div>